@media (max-width: 540px) {
    .svg-image:nth-child(2) {
        top: 50px;
    }

    .svg-image:nth-child(4) {
        top: -80px;
        left: -30px;
    }

    .headings h1 {
        font-size: 2rem;
    }

    .image-container {
        overflow-y: auto;
    }

    .form-content {
        padding: 1rem 0;
    }

    .display-data {
        padding: 0;
    }

    .display-data .headings p {
        padding: 0;
    }

    .display-data .ticket-container .logo {
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .display-data .ticket-container .date {
        margin-bottom: 2rem;
    }

    .display-data .ticket-container .ticket-user img {
        width: 45px;
    }

    .display-data .ticket-container .ticket-user #display-name {
        font-size: 1.25rem;
    }

    .display-data .ticket-container .ticket-number {
        right: -8px;
    }
}

@media (max-width: 400px) {
    .form-content {
        height: 620px;
    }
}